@media (max-width: 900px) {
   
    #pag-home {
        background-position-x: 70vw;
        align-items: center;
        text-align: center;
    }

    #page-home {
        background-position-x: 70vw;
    }


    #page-home .calendar {
        align-items: center;
        text-align: center;
    }

    #page-home .calendar__banner--month {
        align-items: center;
        text-align: center;
    }

    #page-home tbody {
        align-items: center;
    }
}

@media (min-width: 1700px) {
    #page-home {
        background-position-x: 40vw;
    }
}

@media (max-height: 760px) {
    #page-home {
        background-position-y: 200px;
    }
}